.server-status span{
    color: #4286f4;
}
.siemaimg {
    width: 100%;
}
  
.siema {
    margin: 1rem 0;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
html {
    background-image: url("../imgs/background.png");
}

.mcmulti {
    right: -100px;
};

i {
    content:”\00A3″; font-family: “FontAwesome”; font-weight: normal; 
}